
.container { width: 800px; margin: 0 auto; }

.autocomplete-suggestions {
	 border: 1px solid #999;
	 background: #ffffff;
	 cursor: default;
	 overflow: auto;
	 -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.45);
	 -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.45);
	 box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.45); 
	  font-size: 1em !important;
	  line-height: 30px;
	 }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected {
	background: #CCCCCC; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #CCCCCC 0%, #CCCCCC 36%, #CCCCCC 67%, #CCCCCC 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(36%,#CCCCCC), color-stop(67%,#CCCCCC), color-stop(100%,#CCCCCC)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #CCCCCC 0%,#CCCCCC 36%,#CCCCCC 67%,#CCCCCC 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #CCCCCC 0%,#CCCCCC 36%,#CCCCCC 67%,#CCCCCC 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #CCCCCC 0%,#CCCCCC 36%,#CCCCCC 67%,#CCCCCC 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #CCCCCC 0%,#CCCCCC 36%,#CCCCCC 67%,#CCCCCC 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#dddfe3',GradientType=0 ); /* IE6-8 */

	cursor: pointer;
	
	 }
.autocomplete-suggestions strong { font-weight: bold; color: #333333;}
